<footer class="footer mt-auto py-3 bg-dark">
  <div class="container text-center">
    <span class="text-light"
      >© 2023 Bristlecone Pine Risk Assessment Project | Created by Thomas
      Zhang</span
    >
  </div>
</footer>
