<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container vh-100 mt-5">
    <h1>Map</h1>
    <ul>
      <li><a href="/map/brca">Bryce Canyon National Park</a></li>
      <li><a href="/map/grba">Great Basin National Park</a></li>
    </ul>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
</html>
